---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Blog";
const description = "Latest articles.";
const permalink = `${Astro.site?.href}blog`;

let allPosts = await Astro.glob("../../data/blog-posts/*.md");
allPosts = allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.publishDate).valueOf() -
        new Date(a.frontmatter.publishDate).valueOf(),
);
---

<BaseLayout
    title={title}
    description={description}
    permalink={permalink}
    current="blog"
>
    <div class="flex gap-12 flex-col items-center justify-between pb-12">
        <div class="flex gap-12 flex-col py-12 sm:py-12 justify-between">
            <div class="flex flex-col gap-8">
                <div
                    class="text-lg lg:text-3xl leading-relaxed gap-4 flex flex-col"
                >
                    <h1 class="font-black mb-4">Blog</h1>
                    <p>
                        I write about things I want to understand and refer back
                        to them whenever I need to remember how they work.
                    </p>
                </div>
                {
                    allPosts.map((post) => {
                        const href = `/blog/${post.file.split("/").pop()?.split(".").shift()}`;
                        return (
                            <>
                                <hr />
                                <div class="post-item">
                                    <h2 class="font-black mb-4">
                                        <a href={href}>
                                            {post.frontmatter.title}
                                        </a>
                                    </h2>
                                    <p>{post.frontmatter.description}</p>
                                    <div class="post-item-footer text-stone-600 dark:text-stone-400 text-sm pt-4">
                                        <span class="post-item-date">
                                            — {post.frontmatter.publishDate}
                                        </span>
                                    </div>
                                </div>
                            </>
                        );
                    })
                }
            </div>
        </div>
    </div>
</BaseLayout>
